@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Titillium+Web:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Titillium Web", sans-serif, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: center/cover no-repeat url("https://picsum.photos/id/849/3202/2401");
}
